body{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #F9A400;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modo-escuro{
    background-color: #626161;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imagem-logo{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

#imagem-modo{
    margin-right: 3rem;
}
.buttons{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.ia-button {
    background-color: #fff;
    color: #F9A400;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.ia-button-dark {
    background-color: #F9A400;
    color: #F4F4F4;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

main {
    height: calc(100vh - 5rem);
}

iframe {
            width: 100%;
            height: 100%;
        }